<!doctype html>
<html>
  <head>
    <title>Now Layout</title>
  </head>
  <body>
    <!-- we're not using a layout, so we have to include all HTML -->
    <h1>No Layout</h1>
    <p>We're not using a layout file, so all HTML is in the view!</p>
  </body>
</html>


leg curl : 1)
leg etension : 2)
leg press : 3)
shoulder press : 4)
chest press : 1)
lat pull dowm : 1)
pec fly  : 1)
seated row : 1)
hip adductor : 1)
biceps curl : 1)
triceps  : 1)
squat : 1)
overhead press : 1)
dead lift : 1)
crunch : 1)
back extention : 1)
pull up : 1)